<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.renzoventura.stride</string>
			<key>CFBundleURLRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stride</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>strava</string>
		<string>instagram-stories</string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIAppFonts</key>
	<array>
		<string>Humane-Bold.otf</string>
		<string>ROUND8-FOUR.otf</string>
	</array>
</dict>
</plist>
